*.fsdb
*.fsdb.lock
*.fsdb.podat
*.fsdb.str
*.conf
*.fsdb.alias
*.fsdb.netwk
*.fsdb.sinf
*.fsdb.tlist
dump.log
*.fsdb.chain
*.fsdb.p2s
*.fsdb.slist
*.fsdb.xlist
*ucli.key
*.fsdb.field
*.fsdb.pidat
*.fsdb.slock
simv
csrc/
simv.daidir/
